apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: backrestvolsyncoperatorconfigs.backrest.garethgeorge.com
spec:
  group: backrest.garethgeorge.com
  scope: Namespaced
  names:
    plural: backrestvolsyncoperatorconfigs
    singular: backrestvolsyncoperatorconfig
    kind: BackrestVolSyncOperatorConfig
    shortNames:
      - bvoc
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          required: [spec]
          properties:
            spec:
              type: object
              properties:
                paused:
                  type: boolean
                defaultBackrest:
                  type: object
                  properties:
                    url:
                      type: string
                    authRef:
                      type: object
                      properties:
                        name:
                          type: string
                bindingGeneration:
                  type: object
                  properties:
                    policy:
                      type: string
                      enum: ["", Disabled, Annotated, All]
                    kinds:
                      type: array
                      items:
                        type: string
                        enum: [ReplicationSource, ReplicationDestination]
                      uniqueItems: true
                    defaultRepo:
                      type: object
                      properties:
                        autoUnlock:
                          type: boolean
                        autoInitialize:
                          type: boolean
                        extraFlags:
                          type: array
                          items:
                            type: string
                        envAllowlist:
                          type: array
                          items:
                            type: string
            status:
              type: object
              properties:
                observedGeneration:
                  type: integer
                  format: int64
                conditions:
                  type: array
                  items:
                    type: object
                    required: [type, status, lastTransitionTime, reason, message]
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      observedGeneration:
                        type: integer
                        format: int64
                      lastTransitionTime:
                        type: string
                        format: date-time
                      reason:
                        type: string
                      message:
                        type: string
