apiVersion: backrest.garethgeorge.com/v1alpha1
kind: BackrestVolSyncOperatorConfig
metadata:
  name: backrest-volsync-operator
  namespace: backups
spec:
  paused: false
  defaultBackrest:
    url: http://backrest.backups.svc:9898
    # authRef:
    #   name: backrest-auth
  bindingGeneration:
    # Disabled | Annotated | All
    policy: Annotated
    # Optional restrict which VolSync kinds are eligible for auto-binding.
    # Allowed values: ReplicationSource | ReplicationDestination
    # kinds: [ReplicationSource, ReplicationDestination]
    defaultRepo:
      autoUnlock: false
---
apiVersion: backrest.garethgeorge.com/v1alpha1
kind: BackrestVolSyncBinding
metadata:
  name: uptime-kuma-config-source
  namespace: backups
spec:
  backrest:
    url: http://backrest.backups.svc:9898
    # authRef:
    #   name: backrest-auth
  source:
    kind: ReplicationSource
    name: uptime-kuma-config-config
  repo:
    idOverride: uptime-kuma-config
---
apiVersion: backrest.garethgeorge.com/v1alpha1
kind: BackrestVolSyncBinding
metadata:
  name: uptime-kuma-config-dest
  namespace: backups
spec:
  backrest:
    url: http://backrest.backups.svc:9898
  source:
    kind: ReplicationDestination
    name: uptime-kuma-config-config-dest
  repo:
    idOverride: uptime-kuma-config-dest